Html, body, div {
    Padding: 0;
    Border: 0;
    Margin: 0;
}

p {
    font-family: Helvetica, Arial, sans-serif;
}

.logo img {
    margin-top: 2%;
}

#introText p {
    font-size: 1.3em;
    margin-top: 5%;
    margin-bottom: 4%;
}

h1 {
    font-size: 28px;
}

.control-label {
    font-size: 16px;
}

.page-header {
    margin-top: .8%;
}

.form-horizontal .control-label {
    text-align: left;
}

div, #miles {
    margin-left: -1%;
}

#weekly-mileage {
    margin-left: -1%;
    margin-top: 3%;
}

.alert-text {
    font-size: 17.5px;
    text-align: center;
}

.none {
    display: none;
}

.paragraph {
    font-size: 17.5px;
    margin-top: 3%;
}

.text {
    margin-top: 5%;
}

#waffle {
    margin-left: -3%;
}

.green {
    color: #98df8a;
}

.pink {
    color: #fdd0a2;
}

.blue {
    color: #17becf;
}

.purple {
    color: #9467bd;
}

#driving-car, #age-percent, #age-moreless, #total-percent, #total-moreless, .green, .pink, .blue, .purple {
    font-weight: bold;
}

.centered {
    text-align: center;
}

.tooltip-stuff {
    position: absolute;
    z-index: 10;
    display: none;
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    top: -65px;
    width: 100px;
    white-space: pre-line;
}

/* typeahead styling */

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-hint {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.tt-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;

}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion:hover {
    color: #fff;
    background-color: #428bca;
    cursor: pointer;
    margin-left: 1%;
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.tt-cursor{
    background-color: #428bca;
    color: #FFFFFF;
}